.cards-commercial {
  grid-template-rows: auto auto auto 140px;
}

.project5-commercial {
  top: -45%;
}

.project7-commercial {
  top: -35%;
}

.project8-commercial {
  height: 200px;
  top: -38%;
}

.project9-commercial {
  top: 15%;
}

.project11-commercial {
  height: 450px;
  top: -280%;
}
