.cards-commercial {
  grid-template-rows: auto auto auto 170px;
}

.project5-commercial {
  top: -40%;
}

.project7-commercial {
  top: -38%;
}

.project8-commercial {
  height: 200px;
  top: -30%;
}

.project9-commercial {
  top: 15%;
}

.project11-commercial {
  height: 450px;
  top: -210%;
}
