body {
  background: $white;
  color: $black;
}

.content-wrapper {
  min-height: 80vh;
}

.carousel-inner {
  height: 60vh;
}

.carousel-item {
height: 70vh;
}

.carousel-item img {
max-height: 100%;
max-width: 100%;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
border-radius: 2px;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .navbar-content {
    flex-direction: column;
    text-align: center;
  }
  .navbar-links {
    width: 60%;
  }
  .contact-links {
    flex-direction: column;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width:768px) {
  .navbar-content {
    flex-direction: column;
    text-align: center;
  }
  .navbar-links {
    width: 60%;
  }
  .contact-links {
    flex-direction: column;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-content {
    flex-direction: column;
    text-align: center;
  }
  .navbar-links {
    width: 60%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
