.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

body {
  background: $white;
  color: $black;
}

a:hover {
  text-decoration: none;
  opacity: 1;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
  opacity: 0.8;
}

