body {
  background: $white;
  color: $black;
}

.content-wrapper {
  min-height: 79vh;
}

a:hover {
  text-decoration: none;
  opacity: 1;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
  opacity: 0.8;
}
