.mainphoto {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), asset-url("jm2.jpg");
  background-position: center;
  background-size: cover;
  color: $white;
  text-align: center;
  position: absolute;

  p{
    font-style: italic;
    font-size: 2em;
  }

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5em;
  }

  a:hover {
    color: rgba(255, 255, 255, 1);
  }

  .infos{
    position: relative;
    top: 45%;
  }
}


