.navbar-mathilde {
  width: 100%;
  background: $white;
  max-height: 25vh;
}

.navbar-title {
  margin-bottom: 0.5rem;
  font-family: 'Archivo Black', "Raleway", "Helvetica", "sans-serif";
  line-height: 1.2;
  font-size: 2.5rem;
  color: $dark;
}

.navbar-title:hover {
  text-decoration: none;
  color: $dark;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.navbar-links {
  font-family: 'Archivo Black', "Raleway", "Helvetica", "sans-serif";
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    opacity: 0.8;
    color: $dark;
  }

  a:hover {
    opacity: 1;
  }
}
