.filter-projects {
  text-align : center;
  font-family: 'Archivo Black', "Raleway", "Helvetica", "sans-serif";
  margin-bottom: 20px;
}

.filters:hover {
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto 155px;
  grid-gap: 30px;
}

.card-projects {
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-bottom: 20px;
}

.ph {
  background-image: asset-url('ph_header.jpg');
  background-position: top;
  height: 450px;
  position: relative;
  top: 5%;
}

.remy {
  background-image: asset-url('remy_header.jpg');
  background-position: top;
  height: 200px;
  position: relative;
  top: 5%;
}

.feeka {
  background-image: asset-url('feeka_header.jpg');
  background-position: top;
  height: 450px;
  position: relative;
  top: -44%;
}

.holiday {
  background-image: asset-url('h_header2.jpg');
  background-position: top;
  height: 450px;
  position: relative;
}

.jane {
  background-image: asset-url('jane_header.jpg');
  background-position: top;
  height: 450px;
  position: relative;
  top: -50%;
}

.jm {
  background-image: asset-url('jm_header.jpg');
  background-position: top;
  height: 450px;
  position: relative;
  top: 7%;
}

.luco {
  background-image: asset-url('luco_header.jpg');
  background-position: top;
  height: 450px;
  position: relative;
  top: -40%;
}

.lv {
  background-image: asset-url('lv_header.jpg');
  background-position: top;
  height: 200px;
  position: relative;
  top: 10%;
}

.mathieu {
  background-image: asset-url('mathieu_header.jpg');
  background-position: top;
  height: 450px;
  position: relative;
}

.morgan {
  background-image: asset-url('morgan_header.jpg');
  background-position: top;
  height: 450px;
  position: relative;
  top: -270%;
}

.suncoo {
  background-image: asset-url('suncoo_header.jpg');
  background-position: top;
  height: 200px;
  position: relative;
}

.sw {
  background-image: asset-url('sw_header.jpg');
  background-position: top;
  height: 450px;
  position: relative;
  top: -48%;
}

.vakko {
  background-image: asset-url('vakko_header.jpg');
  background-position: top;
  height: 200px;
  position: relative;
  top: -45%;
}

.new1 {
  background-image: asset-url('vakko_header.jpg');
  background-position: top;
  height: 200px;
  position: relative;
  top: -35%;
}

.new2 {
  background-image: asset-url('sw_header.jpg');
  background-position: top;
  height: 450px;
  position: relative;
  top: -94%;
}

.new3 {
  background-image: asset-url('sw_header.jpg');
  background-position: top;
  height: 450px;
  position: relative;
  top: -34%;
}

.new4 {
  background-image: asset-url('sw_header.jpg');
  background-position: top;
  height: 450px;
  position: relative;
  top: -250%;
}

.new5 {
  background-image: asset-url('vakko_header.jpg');
  background-position: top;
  height: 200px;
  position: relative;
  top: -90%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(10,10,10,0.5);
  z-index: 2;
  opacity: 0;
  color: $white;
  text-align: center;
  vertical-align: center;
  font-family: 'Archivo Black', "Raleway", "Helvetica", "sans-serif";
}

.card-projects:hover {
  .text {
    opacity: 1;
    transition: all 0.5s ease-out;
  }
}

.card-description {
  margin-bottom: 20px;
}

.project-title {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 0px !important;
  font-family: 'Archivo Black', "Raleway", "Helvetica", "sans-serif";
}

.project-description {
  font-style: italic;
  font-size: 1em;
  text-align: center;
}

.xs-only {
  display: none !important;
}

// Smallest device
@media (min-width: 100px) and (max-width: 760px) {
  .ph {
    position: initial;
  }
  .remy {
    position: initial;
  }
  .feeka {
    position: initial;
  }
  .holiday {
    position: initial;
  }
  .jane {
    position: initial;
  }
  .jm {
    position: initial;
  }
  .luco {
    position: initial;
  }
  .lv {
    position: initial;
  }
  .mathieu {
    position: initial;
  }
  .morgan {
    position: initial;
  }
  .suncoo {
    position: initial;
  }
  .sw {
    position: initial;
  }
  .vakko {
    position: initial;
  }
  .new1 {
    position: initial;
  }
  .new2 {
    position: initial;
  }
  .new3 {
    position: initial;
  }
  .new4 {
    position: initial;
  }
  .new5 {
    position: initial;
  }
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-bottom: 10%;
  }
  .card-projects {
    margin-bottom: 40px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 100px) and (max-width: 992px) {
  .xs-only {
    display: block !important;
  }
  .xl-only {
    display: none !important;
  }
}

