<div class="footer-mathilde">
  <div class="container">
    <div class="contact-links">
      <a href="tel:+33678711376">06.78.71.13.76</a>
      <a href="mailto:contact@mathilderegnault.com">contact@mathilderegnault.com</a>
      <a href="https://www.instagram.com/mathilderegnault/" target="_blank">@mathilderegnault</a>
    </div>
  </div>
  <div class="developpeur">
    <a href="https://www.stasboyeldieu.com/" target="_blank">Developed by Stas Boyeldieu</a>
  </div>
</div>
