<!-- menu fixe qui descend quand on scroll (menu comprends mon nom et prénom ainsi que ABOUT et logo instagram)  -->
<div class="navbar-mathilde sticky-top">
  <div class="container navbar-content">
    <%= link_to "MATHILDE REGNAULT", portfolio_path, class: "navbar-title"  %>
    <div class="navbar-links">
      <%= link_to "ABOUT", about_path %>
      <span>|</span>
      <a href="https://www.instagram.com/mathilderegnault/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
