<div class="container">
  <div class="about">
    <p>Fashion stylist and consultant for editorials, lookbooks, campaigns and videos. I love to develop storytelling in each stories.</p>
    <p>Clients : Louis Vuitton, L’Oréal, Nike, Chopard, Holiday Boileau, Dove, Adidas, Célio, Galenic, La Halle, Phyto, Jules, Kérastase, … </p>
  </div>
</div>
