<div class="container about-infos">
  <div class="about">
    <p>Fashion stylist and consultant for editorials, lookbooks, campaigns and videos. I love to develop storytelling in each stories.</p>
    <p>Clients : Louis Vuitton, L’Oréal, Nike, Chopard, Holiday Boileau, Dove, Adidas, Célio, Galenic, La Halle, Phyto, Jules, Kérastase, … </p>
    <div class="about-contact">
      <a href="tel:+33678711376"><i class="fas fa-mobile-alt"></i> 06.78.71.13.76</a>
      <a href="mailto:contact@mathilderegnault.com"><i class="fas fa-envelope-square"></i> contact@mathilderegnault.com</a>
    </div>
  </div>
</div>
