<div class="container">

  <div class="filter-projects">
    <a href="/portfolio">ALL |</a>
    <a href="/editorial">EDITORIAL |</a>
    <a href="/commercial">COMMERCIAL</a>
  </div>

  <div class="cards cards-commercial">
    <div class="card-projects commercial project1 holiday">
      <a href="/commercial-holiday-boileau">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Holiday Boileau</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project2 suncoo">
      <a href="/commercial-eshop-suncoo">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Suncoo</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project3 suncooFW21">
      <a href="/commercial-suncooFW21">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Suncoo FW21</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project4 lv">
      <a href="/commercial-louis-vuitton">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Louis Vuitton & Dan Carter</p>
      <p class="project-description">Quentin De Briey</p>
    </div>

    <div class="card-projects commercial project5 project5-commercial feeka">
      <a href="/commercial-feeka">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Feeka SS21</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div data-scroll class="card-projects commercial project6 ph">
      <a href="/commercial-des-petits-hauts">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Des Petits Hauts</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project7 project7-commercial ls">
      <a href="/commercial-lookbook-suncoo">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Suncoo FW20</p>
      <p class="project-description">Manu Fauque</p>
    </div>

    <div class="card-projects commercial project8 project8-commercial vakko">
      <a href="/commercial-vakko">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Vakko</p>
      <p class="project-description">Emre Guven</p>
    </div>

    <div class="card-projects commercial project9 project9-commercial morgan">
      <a href="/commercial-morgan">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Morgan SS20</p>
      <p class="project-description">Marion Barat</p>
    </div>

    <div class="card-projects edito xl-only">
      <!-- <a href="/editorial-jane-magazine-issue-7">
        <div class="text">
          <p class="project-category">EDITORIAL</p>
        </div>
      </a>
      <p class="project-title">Heirloom</p>
      <p class="project-description">Carole Peyrot</p> -->
    </div>

    <div class="card-projects commercial project11 project11-commercial luco">
      <a href="/commercial-le-luco">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Le Luco FW20</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

  </div>
</div>

