<div class="container">

  <div class="filter-projects">
    <a href="/portfolio">ALL |</a>
    <a href="/editorial">EDITORIAL |</a>
    <a href="/commercial">COMMERCIAL</a>
  </div>

  <div class="cards">
    <div class="card-projects commercial holiday">
      <a href="/commercial-holiday-boileau">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Holiday Boileau</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial suncoo">
      <a href="/commercial-eshop-suncoo">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Suncoo</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial bekhti">
      <a href="/commercial-bekhti">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Leila Bekhti</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial lv">
      <a href="/commercial-louis-vuitton">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Louis Vuitton & Dan Carter</p>
      <p class="project-description">Quentin De Briey</p>
    </div>

    <div class="card-projects commercial feeka">
      <a href="/commercial-feeka">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Feeka</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div data-scroll class="card-projects commercial ph">
      <a href="/commercial-des-petits-hauts">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Des Petits Hauts</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial sw">
      <a href="/commercial-lookbook-suncoo">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Lookbook Suncoo</p>
      <p class="project-description">Manu Fauque</p>
    </div>

    <div class="card-projects commercial vakko">
      <a href="/commercial-vakko">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Vakko</p>
      <p class="project-description">Emre Guven</p>
    </div>

    <div class="card-projects commercial morgan">
      <a href="/commercial-morgan">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Morgan SS20</p>
      <p class="project-description">Marion Barat</p>
    </div>

    <div class="card-projects commercial luco">
      <a href="/commercial-le-luco">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Le Luco</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

  </div>
</div>

