<div class="container">

  <div class="filter-projects">
    <a href="/portfolio">ALL |</a>
    <a href="/editorial">EDITORIAL |</a>
    <a href="/commercial">COMMERCIAL</a>
  </div>

  <div class="cards">
    <div class="card-projects edito jane">
      <a href="/editorial-jane-magazine-issue-7">
        <div class="text">
          <p class="project-category">EDITORIAL</p>
        </div>
      </a>
      <p class="project-title">Heirloom</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects edito xl-only">
      <!-- <a href="/editorial-jane-magazine-issue-7">
        <div class="text">
          <p class="project-category">EDITORIAL</p>
        </div>
      </a>
      <p class="project-title">Heirloom</p>
      <p class="project-description">Carole Peyrot</p> -->
    </div>

    <div class="card-projects edito xl-only">
      <!-- <a href="/editorial-jane-magazine-issue-7">
        <div class="text">
          <p class="project-category">EDITORIAL</p>
        </div>
      </a>
      <p class="project-title">Heirloom</p>
      <p class="project-description">Carole Peyrot</p> -->
    </div>

    <div class="card-projects edito remy">
      <a href="/editorial-remi-desclaux">
        <div class="text">
          <p class="project-category">EDITORIAL</p>
        </div>
      </a>
      <p class="project-title">First Ray</p>
      <p class="project-description">Remi Desclaux</p>
    </div>

    <div class="card-projects edito mathieu">
      <a href="/editorial-matthieu-delbreuve">
        <div class="text">
          <p class="project-category">EDITORIAL</p>
        </div>
      </a>
      <div class="card-description">
        <p class="project-title">Girl in amber</p>
        <p class="project-description">Matthieu Delbreuve</p>
      </div>
    </div>

    <div class="card-projects edito jm">
      <a href="/editorial-jane-magazine-issue-6">
        <div class="text">
          <p class="project-category">EDITORIAL</p>
        </div>
      </a>
      <p class="project-title">You and I are Earth</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

  </div>
</div>
