<div class="mainphoto">
  <div class="container infos animated fadeInUp slow">
    <h1>MATHILDE REGNAULT</h1>
    <p>Fashion Stylist</p>
    <%= link_to "discover", portfolio_path  %>
  </div>
</div>
