<div class="container">
  <h3 style="text-align: center;">LOUIS VUITTON & DAN CARTER</h3>
  <p style="text-align: center;">Quentin De Briey</p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag "lv_header.jpg"%></div>
      <div class="swiper-slide half"><%= image_tag "lv2.jpg"%><%= image_tag "lv2.1.jpg"%></div>
      <div class="swiper-slide"><%= image_tag "lv3.jpg"%></div>
    </div>

    <div class="swiper-scrollbar"></div>
  </div>

  <div class="back">
    <a href="/portfolio"><button type="button" class="btn btn-outline-dark btn-sm">Back to portfolio</button></a>
  </div>

</div>
