<div class="container">

  <div class="filter-projects">
    <a href="/portfolio">ALL |</a>
    <a href="/editorial">EDITORIAL |</a>
    <a href="/commercial">COMMERCIAL</a>
  </div>

  <div class="cards">
    <div class="card-projects edito project1 matthieu">
      <a href="/editorial-matthieu-delbreuve">
        <div class="text">
          <p class="project-category">EDITORIAL</p>
        </div>
      </a>
      <div class="card-description">
        <p class="project-title">Girl in amber</p>
        <p class="project-description">Matthieu Delbreuve</p>
      </div>
    </div>

    <div class="card-projects commercial project2 lucoFW21">
      <a href="/commercial-lucoFW21">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Le Luco FW21</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project3 holiday">
      <a href="/commercial-holiday-boileau">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Holiday Boileau</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects edito project4 remi">
      <a href="/editorial-remi-desclaux">
        <div class="text">
          <p class="project-category">EDITORIAL</p>
        </div>
      </a>
      <p class="project-title">First Ray</p>
      <p class="project-description">Remi Desclaux</p>
    </div>

    <div class="card-projects edito project5 jane">
      <a href="/editorial-jane-magazine-issue-7">
        <div class="text">
          <p class="project-category">EDITORIAL</p>
        </div>
      </a>
      <p class="project-title">Heirloom</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project6 ph">
      <a href="/commercial-des-petits-hauts">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Des Petits Hauts</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project7 feeka">
      <a href="/commercial-feeka">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Feeka SS21</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project8 ls">
      <a href="/commercial-lookbook-suncoo">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Suncoo FW20</p>
      <p class="project-description">Manu Fauque</p>
    </div>

    <div class="card-projects edito project9 jm">
      <a href="/editorial-jane-magazine-issue-6">
        <div class="text">
          <p class="project-category">EDITORIAL</p>
        </div>
      </a>
      <p class="project-title">You and I are Earth</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project10 luco">
      <a href="/commercial-le-luco">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Le Luco FW20</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project11 vakko">
      <a href="/commercial-vakko">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Vakko</p>
      <p class="project-description">Emre Guven</p>
    </div>

    <div class="card-projects commercial project12 lv">
      <a href="/commercial-louis-vuitton">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Louis Vuitton & Dan Carter</p>
      <p class="project-description">Quentin De Briey</p>
    </div>

    <div class="card-projects commercial project13 suncoo">
      <a href="/commercial-eshop-suncoo">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Suncoo</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project14 suncooFW21">
      <a href="/commercial-suncooFW21">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Suncoo FW21</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project15 janenew">
      <a href="/commercial-janenew">
        <div class="text">
          <p class="project-category">EDITORIAL</p>
        </div>
      </a>
      <p class="project-title">Jane New</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

    <div class="card-projects commercial project16 ls">
      <a href="/commercial-lookbook-suncoo">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Suncoo FW20</p>
      <p class="project-description">Manu Fauque</p>
    </div>

    <div class="card-projects commercial project17 morgan">
      <a href="/commercial-morgan">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Morgan SS20</p>
      <p class="project-description">Marion Barat</p>
    </div>

    <div class="card-projects commercial project18 lucoSS20">
      <a href="/commercial-lucoSS20">
        <div class="text">
          <p class="project-category">COMMERCIAL</p>
        </div>
      </a>
      <p class="project-title">Le Luco SS20</p>
      <p class="project-description">Carole Peyrot</p>
    </div>

  </div>
</div>

