<div class="container">

  <div class="filter-projects">
    <span class='filters' data-filter="all">All |</span>
    <span class='filters' data-filter=".edito">Editorial |</span>
    <span class='filters' data-filter=".commercial">Commercial</span>
  </div>

  <div class="cards">

    <div data-scroll class="card-projects mix commercial ph">
      <a href="/commercial-des-petits-hauts">
        <div class="text">
          <p class="project-title">E-SHOP DES PETITS HAUTS</p>
          <p class="project-description">Carole Peyrot</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix edito remy">
      <a href="/editorial-remi-desclaux">
        <div class="text">
          <p class="project-title">FIRST RAY</p>
          <p class="project-description">Remi Desclaux</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix commercial feeka">
      <a href="/commercial-feeka">
        <div class="text">
          <p class="project-title">LOOKBOOK FEEKA</p>
          <p class="project-description">Carole Peyrot</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix edito holiday">
      <a href="/commercial-holiday-boileau">
        <div class="text">
          <p class="project-title">E-SHOP HOLIDAY BOILEAU</p>
          <p class="project-description">Carole Peyrot</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix edito jane">
      <a href="/editorial-jane-magazine-issue-7">
        <div class="text">
          <p class="project-title">HEIRLOOM</p>
          <p class="project-description">Carole Peyrot</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix edito jm">
      <a href="/editorial-jane-magazine-issue-6">
        <div class="text">
          <p class="project-title">YOU AND I ARE EARTH</p>
          <p class="project-description">Carole Peyrot</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix commercial luco">
      <a href="/commercial-le-luco">
        <div class="text">
          <p class="project-title">LOOKBOOK LE LUCO</p>
          <p class="project-description">Carole Peyrot</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix commercial lv">
      <a href="/commercial-louis-vuitton">
        <div class="text">
          <p class="project-title">LOUIS VUITTON & DAN CARTER</p>
          <p class="project-description">Quentin De Briey</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix edito mathieu">
      <a href="/editorial-matthieu-delbreuve">
        <div class="text">
          <p class="project-title">GIRL IN AMBER</p>
          <p class="project-description">Matthieu Delbreuve</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix commercial morgan">
      <a href="/commercial-morgan">
        <div class="text">
          <p class="project-title">LOOKBOOK MORGAN SS20</p>
          <p class="project-description">Marion Barat</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix commercial suncoo">
      <a href="/commercial-eshop-suncoo">
        <div class="text">
          <p class="project-title">E-SHOP SUNCOO SS19</p>
          <p class="project-description">Carole Peyrot</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix commercial sw">
      <a href="/commercial-lookbook-suncoo">
        <div class="text">
          <p class="project-title">LOOKBOOK SUNCOO FW20</p>
          <p class="project-description">Manu Fauque</p>
        </div>
      </a>
    </div>

    <div class="card-projects mix commercial vakko">
      <a href="/commercial-vakko">
        <div class="text">
          <p class="project-title">VAKKO</p>
          <p class="project-description">Emre Guven</p>
        </div>
      </a>
    </div>
   </div>
 </div>

